---
import SEO from '../shared/SEO.astro';
import Navbar from './Navbar.astro';
import Footer from './Footer.astro';
import '../../styles/global.css';

export interface Props {
  title?: string;
  description?: string;
  image?: string;
  noIndex?: boolean;
}

const { title, description, image, noIndex } = Astro.props;
---

<!doctype html>
<html lang="zh-CN" data-theme="light">
  <head>
    <SEO title={title} description={description} image={image} noIndex={noIndex} />
  </head>
  <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "acee9cecb62e43e2bc69f465e375dd0c"}'></script>
  <body class="min-h-screen flex flex-col">
    <Navbar />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
